/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* general */

main {
  display: grid;
}

#main_index {
  display: grid;
  padding: 0 10px 0 10px;
}

h1 {
  grid-row: 1;
  grid-column: 1fr;
  justify-self: center;
  padding: 20px 0 20px 0;
  a {
    font-family: "Rubik Beastly", sans-serif;
    color: red;
    font-size: 3rem;
  }
}

h2 {
  grid-row: 2;
  grid-column: 1fr;
  justify-self: start;
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 60px 0 20px 0px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 0.8rem;
  font-weight: 200;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 0.8rem;
  font-weight: 300;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 0.7rem;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

@media (min-width: 700px) {
  #main_index {
    padding: 0 50px 0 50px;
  }
  h1 {
    a {
      font-size: 5rem;
    }
  }
  h2 {
    font-size: 1.7rem;
  }
}

/* index */

#categories_grid {
  display: grid;
  grid-row: 3;
  grid-column: 1fr;
  margin-top: 10px;
}

#categories_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.categories_box {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: red;
  display: grid;
  a {
    place-self: center;
    color: white;
  }
}

@media (min-width: 700px) {
  .categories_box {
    width: 160px;
    height: 60px;
  }
}

/* productlist */

#productlist_h2 {
  grid-row: 2;
  grid-column: 1fr;
  justify-self: center;
  display: grid;
  width: 100%;
  height: 40px;
  margin-bottom: 0.1px;
  h2 {
    justify-self: start;
    padding: 0 0 0 3px;
    color: red;
  }
}

.productlist_flex {
  display: flex;
  flex-wrap: wrap;
}

.product_card {
  display: grid;
  grid-template-columns: 1fr;
  width: 50vw;
  height: 30%;
  padding-bottom: 10px;
}

.product_card:hover {
  opacity: 0.7;
}

.product_img_card {
  object-fit: cover;
  width: 100%;
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  z-index: 1;
}

.product_price_card,
.product_title_card,
.product_soldout_card,
.product_sale_card {
  font-size: 0.55rem;
}

.product_title_card {
  grid-row: 2;
  grid-column: 1/2;
  justify-self: start;
  align-self: end;
  padding-left: 3px;
  color: red;
}

.product_price_card,
.product_soldout_card {
  grid-row: 2;
  grid-column: 1/2;
  justify-self: end;
  align-self: end;
  padding-right: 3px;
  font-style: italic;
}

.product_card_soldout {
  opacity: 0.8;
  .product_price_card {
    display: none;
  }
}
.product_img_card_x {
  object-fit: cover;
  width: 100%;
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  z-index: 10;
}

.product_price_overlined {
  text-decoration: line-through;
}

.product_sale_card {
  padding-right: 3px;
  padding-left: 5px;
  font-style: italic;
}

@media (min-width: 800px) {
  .product_card {
    display: grid;
    grid-template-columns: 1fr;
    width: 25vw;
    height: 30%;
    padding-bottom: 10px;
  }
  .product_price_card,
  .product_title_card {
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  #productlist_h2 {
    h2 {
      font-size: 1.5rem;
      padding: 0 0 0 5px;
      color: red;
    }
  }
  .product_sale_card,
  .product_soldout_card {
    font-size: 0.7rem;
    padding-right: 5px;
  }
}

/* product */

#product_grid {
  display: grid;
  grid-template-columns: 1fr;
}

.product_big_picture {
  width: 100%;
  grid-row: 1;
  grid-column: 1/2;
}

.product_price,
.product_title {
  grid-row: 2;
  grid-column: 1/2;
  padding: 0 3px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.product_title {
  color: red;
}

.product_price {
  font-style: italic;
  justify-self: end;
}

.product_size {
  margin: 30px 0 2px 0;
  padding: 0 3px;
  grid-row: 3;
  grid-column: 1/2;
}

#sizebox_flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
  grid-row: 4;
  grid-column: 1/2;
}

.sizebox {
  display: grid;
  border: solid 1px red;
  width: 24%;
  height: 40px;
  padding-left: 6px;
  padding-top: 3px;
  margin: -1px 0 0 -1px;
  p {
    justify-self: start;
    align-self: start;
    z-index: 2;
  }
}

#add_to_bag {
  display: grid;
  grid-row: 5;
  grid-column: 1/2;
  background-color: red;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  p {
    color: white;
    place-self: center;
  }
}

#product_description {
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 30px;
  grid-row: 6;
  grid-column: 1/2;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  #main_product {
  }

  #product_grid {
    grid-template-columns: 50% 50%;
    max-width: 1000px;
    justify-self: center;
  }
  .product_big_picture {
    width: 100%;
    object-fit: cover;
    grid-row: 1/7;
    grid-column: 1/2;
  }
  .product_price,
  .product_title {
    grid-row: 2;
    grid-column: 2/3;
    margin-top: 50px;
  }
  .product_size {
    grid-row: 3;
    grid-column: 2/3;
    margin-top: 140px;
  }
  #sizebox_flex {
    grid-row: 4;
    grid-column: 2/3;
    margin-top: 10px;
  }
  #add_to_bag {
    grid-row: 5;
    grid-column: 2/3;
    margin-top: 10px;
  }
  #product_description {
    grid-row: 6;
    grid-column: 2/3;
    margin-top: 50px;
  }
  #small_pictures_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    justify-self: center;
    justify-content: center;
  }
  .product_small_picture {
    width: 250px;
    height: auto;
  }
}
